sentence-transformers
google-genai
qdrant-client
pinecone
python-dotenv
PyMuPDF
transformers
nltk
rouge-score
bert-score
psutil
tiktoken
backoff
flask
flask-cors
fastapi
uvicorn
pydantic
spacy
evaluate
rouge-score
bert-score
rank_bm25
python-multipart
cohere
groq
langchain-openai